<div class="container mt-5">
  <h2>Restablecer contrase単a</h2>
  <form method="POST" action="/resetear-contrasena">
    <input type="hidden" name="token" value="{{token}}">
    <input type="password" name="contrasena" placeholder="Nueva contrase単a" required class="form-control mb-2">
    <input type="password" name="confirmar" placeholder="Confirmar contrase単a" required class="form-control mb-2">
    <button type="submit" class="btn btn-success w-100">Guardar nueva contrase単a</button>
  </form>
</div>
