{{> navbar }}
<div class="container mt-5">
  <h2>Editar Usuario</h2>
  <form action="/usuarios/{{usuario.id}}" method="POST">
    <div class="mb-3">
      <label class="form-label">Nombre</label>
      <input type="text" class="form-control" name="nombre" value="{{usuario.nombre}}" required>
    </div>

      <div class="mb-3">
  <label class="form-label">Tipo</label>
  <select class="form-control" name="tipo" required>
    <option value="cliente">Cliente</option>
    <option value="comercio">Comercio</option>
    <option value="delivery">Delivery</option>
    <option value="admin">Admin</option>
  </select>
</div>


    <div class="mb-3">
      <label class="form-label">Correo</label>
      <input type="email" class="form-control" name="correo" value="{{usuario.correo}}" required>
    </div>
    <button type="submit" class="btn btn-success">Actualizar</button>
  </form>
</div>
