<div class="container mt-4">
  <h3>Mi Perfil</h3>
  <form method="POST" action="/delivery/perfil" enctype="multipart/form-data">
    <input type="text" name="nombre" value="{{usuario.nombre}}" class="form-control mb-2" required>
    <input type="text" name="apellido" value="{{usuario.apellido}}" class="form-control mb-2" required>
    <input type="text" name="telefono" value="{{usuario.telefono}}" class="form-control mb-2" required>
    <input type="file" name="foto" class="form-control mb-2">
    <button type="submit" class="btn btn-success">Guardar</button>
  </form>
</div>
